# 0. IMPORT LIBRARIES

In [490]:
globals().clear

import holidays
import pandas as pd
import numpy as np
from matplotlib import pyplot
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%matplotlib inline
from datetime import datetime

pd.options.display.max_rows = 500
pd.options.display.max_columns = 500

In [491]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 1. LOAD AND FORMAT DATASETS

###  a) BOND: FIVE-YEAR TREASURY YIELD (FVX)

In [492]:
# Load dataset
path = '/content/drive/MyDrive/CapstoneProject/code/01. Cleaning/rawdata/'
file = 'bond/fvx_5ybonds_intraday-15min_2yrhistorical-data.csv'
fvx = pd.read_csv(path+file)
fvx.shape

(13705, 9)

In [493]:
#Formating Date/Time
fvx['DATETIME']    = pd.to_datetime(fvx['Time'], format='%Y-%m-%d %H:%M:%S', errors='ignore')

In [494]:
#Dropping extra columns
fvx.drop(columns=['Unnamed: 0'], inplace=True)
fvx.drop(columns=['Open'], inplace=True)
fvx.drop(columns=['High'], inplace=True)
fvx.drop(columns=['Low'], inplace=True)
fvx.drop(columns=['Change'], inplace=True)
fvx.drop(columns=['%Chg'], inplace=True)
fvx.drop(columns=['Time'], inplace=True)
fvx.drop(columns=['Volume'], inplace=True)

#Renaming columns
fvx.rename(columns={'Last': 'FVX_PRICE'}, inplace=True)

In [495]:
index = ['DATETIME',  'FVX_PRICE']
fvx = fvx.reindex(columns = index)
fvx.sort_values(by = 'DATETIME', ascending = True, inplace = True)
fvx = fvx.reset_index(drop=True)

In [496]:
fvx.head()

             DATETIME  FVX_PRICE
0 2020-06-01 08:15:00       0.31
1 2020-06-01 08:30:00       0.31
2 2020-06-01 08:45:00       0.31
3 2020-06-01 09:00:00       0.31
4 2020-06-01 09:15:00       0.31

###  b) BOND: TEN-YEAR TREASURY YIELD (TVX)

In [497]:
file = 'bond/tnx_10ybonds_intraday-15min_2yhistorical-data.csv'
tvx = pd.read_csv(path+file)
tvx.shape

(13708, 9)

In [498]:
#Formating Date/Time
tvx['DATETIME']    = pd.to_datetime(tvx['Time'], format='%Y-%m-%d %H:%M:%S', errors='ignore')

In [499]:
#Dropping extra columns
tvx.drop(columns=['Unnamed: 0'], inplace=True)
tvx.drop(columns=['Open'], inplace=True)
tvx.drop(columns=['High'], inplace=True)
tvx.drop(columns=['Low'], inplace=True)
tvx.drop(columns=['Change'], inplace=True)
tvx.drop(columns=['%Chg'], inplace=True)
tvx.drop(columns=['Time'], inplace=True)
tvx.drop(columns=['Volume'], inplace=True)

#Renaming columns
tvx.rename(columns={'Last': 'TVX_PRICE'}, inplace=True)

In [500]:
#index = ['DATETIME', 'DATE', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'WEEK_DAY', 'TVX_PRICE']
index = ['DATETIME', 'TVX_PRICE']
tvx = tvx.reindex(columns = index)
tvx.sort_values(by = 'DATETIME', ascending = True, inplace = True)
tvx = tvx.reset_index(drop=True)

In [501]:
tvx.head()

             DATETIME  TVX_PRICE
0 2020-06-01 08:15:00       0.67
1 2020-06-01 08:30:00       0.68
2 2020-06-01 08:45:00       0.67
3 2020-06-01 09:00:00       0.67
4 2020-06-01 09:15:00       0.67

###  c) INDEX: DOW JONES INDEX (DOW)

In [502]:
# loading the dataset
file = 'index/dowi_intraday-15min_historical-data.csv'
dow = pd.read_csv(path+file)
dow.shape

(14614, 9)

In [503]:
#Formating Date/Time
dow['DATETIME']    = pd.to_datetime(dow['Time'], format='%Y-%m-%d %H:%M:%S', errors='ignore')

#Dropping extra columns
dow.drop(columns=['Unnamed: 0'], inplace=True)
dow.drop(columns=['Open'], inplace=True)
dow.drop(columns=['High'], inplace=True)
dow.drop(columns=['Low'], inplace=True)
dow.drop(columns=['Change'], inplace=True)
dow.drop(columns=['%Chg'], inplace=True)
dow.drop(columns=['Time'], inplace=True)
dow.drop(columns=['Volume'], inplace=True)

#Renaming columns
dow.rename(columns={'Last': 'DOW_PRICE'}, inplace=True)

In [504]:
index = ['DATETIME', 'DOW_PRICE']
dow = dow.reindex(columns = index)
dow.sort_values(by = 'DATETIME', ascending = True, inplace = True)
dow = dow.reset_index(drop=True)

In [505]:
dow.head()

             DATETIME  DOW_PRICE
0 2020-06-01 09:30:00   25313.63
1 2020-06-01 09:45:00   25365.99
2 2020-06-01 10:00:00   25421.55
3 2020-06-01 10:15:00   25436.04
4 2020-06-01 10:30:00   25473.21

###  d) INDEX: NASDAQ INDEX (NASX)

In [506]:
file = 'index/nasx_intraday-15min_historical-data.csv'
nasx = pd.read_csv(path+file)
nasx.shape

(15622, 9)

In [507]:
#Formating Date/Time
nasx['DATETIME']    = pd.to_datetime(nasx['Time'], format='%Y-%m-%d %H:%M:%S', errors='ignore')

#Dropping extra columns
nasx.drop(columns=['Unnamed: 0'], inplace=True)
nasx.drop(columns=['Open'], inplace=True)
nasx.drop(columns=['High'], inplace=True)
nasx.drop(columns=['Low'], inplace=True)
nasx.drop(columns=['Change'], inplace=True)
nasx.drop(columns=['%Chg'], inplace=True)
nasx.drop(columns=['Time'], inplace=True)
nasx.drop(columns=['Volume'], inplace=True)

#Renaming columns
nasx.rename(columns={'Last': 'NASX_PRICE'}, inplace=True)

In [508]:
index = ['DATETIME', 'NASX_PRICE']
nasx = nasx.reindex(columns = index)
nasx.sort_values(by = 'DATETIME', ascending = True, inplace = True)
nasx = nasx.reset_index(drop=True)

In [509]:
nasx.head()

             DATETIME  NASX_PRICE
0 2020-06-01 09:30:00     9505.40
1 2020-06-01 09:45:00     9502.91
2 2020-06-01 10:00:00     9521.96
3 2020-06-01 10:15:00     9526.87
4 2020-06-01 10:30:00     9535.28

###  e) INDEX: S&P 500 INDEX (INX)

In [510]:
file = 'index/inx_intraday-15min_historical-data.csv'
inx = pd.read_csv(path+file)
inx.shape

(14615, 9)

In [511]:
#Formating Date/Time
inx['DATETIME']    = pd.to_datetime(inx['Time'], format='%Y-%m-%d %H:%M:%S', errors='ignore')

#Dropping extra columns
inx.drop(columns=['Unnamed: 0'], inplace=True)
inx.drop(columns=['Open'], inplace=True)
inx.drop(columns=['High'], inplace=True)
inx.drop(columns=['Low'], inplace=True)
inx.drop(columns=['Change'], inplace=True)
inx.drop(columns=['%Chg'], inplace=True)
inx.drop(columns=['Time'], inplace=True)
inx.drop(columns=['Volume'], inplace=True)

#Renaming columns
inx.rename(columns={'Last': 'INX_PRICE'}, inplace=True)

In [512]:
index = ['DATETIME', 'INX_PRICE']
inx = inx.reindex(columns = index)
inx.sort_values(by = 'DATETIME', ascending = True, inplace = True)
inx = inx.reset_index(drop=True)

In [513]:
inx.head()

             DATETIME  INX_PRICE
0 2020-06-01 09:30:00    3042.51
1 2020-06-01 09:45:00    3041.97
2 2020-06-01 10:00:00    3048.15
3 2020-06-01 10:15:00    3050.03
4 2020-06-01 10:30:00    3052.49

###  f) STOCK: FACEBOOK STOCK (FB)

In [514]:
file = 'stock/FB.csv'
fb = pd.read_csv(path+file)
fb.shape

(30147, 10)

In [515]:
#Formating Date/Time
fb['DATETIME']    = pd.to_datetime(fb.date.str[0:-6], format='%Y-%m-%d %H:%M:%S', errors='ignore')

#Dropping extra columns
fb.drop(columns=['Unnamed: 0'], inplace=True)
fb.drop(columns=['open'], inplace=True)
fb.drop(columns=['high'], inplace=True)
fb.drop(columns=['low'], inplace=True)
fb.drop(columns=['vwap'], inplace=True)
fb.drop(columns=['timestamp'], inplace=True)
fb.drop(columns=['transactions'], inplace=True)
fb.drop(columns=['volume'], inplace=True)

#Renaming columns
fb.rename(columns={'close': 'FB_PRICE'}, inplace=True)

In [516]:
index = ['DATETIME', 'FB_PRICE']
fb = fb.reindex(columns = index)
fb.sort_values(by = 'DATETIME', ascending = True, inplace = True)
fb = fb.reset_index(drop=True)

In [517]:
fb.head()

             DATETIME  FB_PRICE
0 2020-06-01 04:00:00    223.70
1 2020-06-01 04:15:00    223.38
2 2020-06-01 04:30:00    224.00
3 2020-06-01 04:45:00    224.11
4 2020-06-01 05:00:00    224.00

###  g) STOCK: GOOGLE STOCK (GOOG)

In [518]:
file = 'stock/GOOG.csv'
goog = pd.read_csv(path+file)
goog.shape

(18195, 10)

In [519]:
#Formating Date/Time
goog['DATETIME']    = pd.to_datetime(goog.date.str[0:-6], format='%Y-%m-%d %H:%M:%S', errors='ignore')

#Dropping extra columns
goog.drop(columns=['Unnamed: 0'], inplace=True)
goog.drop(columns=['open'], inplace=True)
goog.drop(columns=['high'], inplace=True)
goog.drop(columns=['low'], inplace=True)
goog.drop(columns=['vwap'], inplace=True)
goog.drop(columns=['timestamp'], inplace=True)
goog.drop(columns=['transactions'], inplace=True)
goog.drop(columns=['volume'], inplace=True)

#Renaming columns
goog.rename(columns={'close': 'GOOG_PRICE'}, inplace=True)

In [520]:
index = ['DATETIME', 'GOOG_PRICE']
goog = goog.reindex(columns = index)
goog.sort_values(by = 'DATETIME', ascending = True, inplace = True)
goog = goog.reset_index(drop=True)

In [521]:
goog.head()

             DATETIME  GOOG_PRICE
0 2020-06-01 05:45:00     1424.16
1 2020-06-01 06:30:00     1420.00
2 2020-06-01 08:00:00     1422.64
3 2020-06-01 09:15:00     1418.36
4 2020-06-01 09:30:00     1435.04

###  h) STOCK: DISNEY STOCK (DIS)

In [522]:
file = 'stock/DIS.csv'
dis = pd.read_csv(path+file)
dis.shape

(26806, 10)

In [523]:
#Formating Date/Time
dis['DATETIME']    = pd.to_datetime(dis.date.str[0:-6], format='%Y-%m-%d %H:%M:%S', errors='ignore')

#Dropping extra columns
dis.drop(columns=['Unnamed: 0'], inplace=True)
dis.drop(columns=['open'], inplace=True)
dis.drop(columns=['high'], inplace=True)
dis.drop(columns=['low'], inplace=True)
dis.drop(columns=['vwap'], inplace=True)
dis.drop(columns=['timestamp'], inplace=True)
dis.drop(columns=['transactions'], inplace=True)
dis.drop(columns=['volume'], inplace=True)

#Renaming columns
dis.rename(columns={'close': 'DIS_PRICE'}, inplace=True)

In [524]:
index = ['DATETIME', 'DIS_PRICE']
dis = dis.reindex(columns = index)
dis.sort_values(by = 'DATETIME', ascending = True, inplace = True)
dis = dis.reset_index(drop=True)

In [525]:
dis.head()

             DATETIME  DIS_PRICE
0 2020-06-01 04:00:00     117.20
1 2020-06-01 04:15:00     117.01
2 2020-06-01 04:30:00     116.53
3 2020-06-01 05:15:00     116.84
4 2020-06-01 06:00:00     116.50

###  i) STOCK: TESLA STOCK (TSLA)

In [526]:
file = 'stock/TSLA.csv'
tsla = pd.read_csv(path+file)
tsla.shape

(31645, 10)

In [527]:
#Formating Date/Time
tsla['DATETIME']    = pd.to_datetime(tsla.date.str[0:-6], format='%Y-%m-%d %H:%M:%S', errors='ignore')

#Dropping extra columns
tsla.drop(columns=['Unnamed: 0'], inplace=True)
tsla.drop(columns=['open'], inplace=True)
tsla.drop(columns=['high'], inplace=True)
tsla.drop(columns=['low'], inplace=True)
tsla.drop(columns=['vwap'], inplace=True)
tsla.drop(columns=['timestamp'], inplace=True)
tsla.drop(columns=['transactions'], inplace=True)
tsla.drop(columns=['volume'], inplace=True)

#Renaming columns
tsla.rename(columns={'close': 'TSLA_PRICE'}, inplace=True)

In [528]:
index = ['DATETIME', 'TSLA_PRICE']
tsla = tsla.reindex(columns = index)
tsla.sort_values(by = 'DATETIME', ascending = True, inplace = True)
tsla = tsla.reset_index(drop=True)

In [529]:
tsla.head()

             DATETIME  TSLA_PRICE
0 2020-06-01 04:00:00     170.400
1 2020-06-01 04:15:00     170.348
2 2020-06-01 04:30:00     170.488
3 2020-06-01 04:45:00     171.632
4 2020-06-01 05:00:00     172.000

# 2. CONSOLIDATE DATASETS

In [530]:
# BOND : fvx, tvx
# INDEX: dow, nasx, inx
# STOCK: fb, goog, dis, tsla

In [531]:
bond  = pd.merge(fvx, tvx, on='DATETIME',how='inner')
index = pd.merge(dow, pd.merge(nasx, inx, on = 'DATETIME', how = 'inner'),on = 'DATETIME', how = 'inner')
stock = pd.merge(fb, pd.merge(goog, pd.merge(dis, tsla, on = 'DATETIME', how = 'inner'), on = 'DATETIME', how = 'inner'),on = 'DATETIME', how = 'inner')

df = pd.merge(bond, pd.merge(index, stock, on = 'DATETIME', how = 'inner'),on = 'DATETIME', how = 'inner')

In [532]:
df.head()

,DATETIME,FVX_PRICE,TVX_PRICE,DOW_PRICE,NASX_PRICE,INX_PRICE,FB_PRICE,GOOG_PRICE,DIS_PRICE,TSLA_PRICE
0,2020-06-01 09:30:00,0.31,0.67,25313.63,9505.40,3042.51,227.3900,1435.0400,118.0525,173.6571
1,2020-06-01 09:45:00,0.31,0.67,25365.99,9502.91,3041.97,228.7988,1431.8100,118.1700,174.9291
2,2020-06-01 10:00:00,0.31,0.67,25421.55,9521.96,3048.15,228.7500,1436.2700,118.3800,175.5382
3,2020-06-01 10:15:00,0.32,0.68,25436.04,9526.87,3050.03,228.7101,1434.0500,118.4800,175.4510
4,2020-06-01 10:30:00,0.31,0.68,25473.21,9535.28,3052.49,228.8700,1431.1245,119.0600,176.6000

# 3. CLEAN DATASET

In [533]:
# Create columns based on datetime
df['DATE']        = df.DATETIME.dt.date
df['YEAR']        = df.DATETIME.dt.year
df['MONTH']       = df.DATETIME.dt.month
df['DAY']         = df.DATETIME.dt.day
df['HOUR']        = df.DATETIME.dt.hour
df['MINUTE']      = df.DATETIME.dt.minute
df['WEEK_DAY']    = df.DATETIME.dt.dayofweek

In [534]:
# Create holiday flag
holiday_days = []
for holiday in holidays.US(state = 'NY', years=[2020, 2021, 2022]).items(): holiday_days.append(str(holiday[0]))
df['HOLIDAY']=[1 if str(value) in holiday_days else 0 for value in df['DATE']]

In [535]:
# Create pre - post holiday flag
df['POSTHOLIDAY_MORNING'], df['PREHOLIDAY_AFTERNON'] = 0, 0

id = df.loc[(df.HOLIDAY == 1),:].index
POSTHOLIDAY = pd.to_datetime((df.loc[id,'DATE'] + pd.DateOffset(days=1)).unique())
PREHOLIDAY  = pd.to_datetime((df.loc[id,'DATE'] - pd.DateOffset(days=1)).unique())

for i in range(len(PREHOLIDAY)) : df.loc[(df.DATE == PREHOLIDAY[i]) & (df.HOUR > 12)   , 'PREHOLIDAY_AFTERNON'] =1
for i in range(len(POSTHOLIDAY)): df.loc[ (df.DATE == POSTHOLIDAY[i]) & (df.HOUR <= 12), 'POSTHOLIDAY_MORNING'] =1

/usr/local/lib/python3.7/dist-packages/pandas/core/ops/array_ops.py:73: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior.  In a future version these will be considered non-comparable.Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  result = libops.scalar_compare(x.ravel(), y, op)

In [536]:
# Create monday morning flag
df['MONDAY_MORNING']=0
df.loc[(df.WEEK_DAY == 0) & (df.HOUR <= 12), 'MONDAY_MORNING'] =1

In [537]:
# Create friday afternoon flag
df['FRIDAY_AFTERNOON']=0
df.loc[(df.WEEK_DAY == 4) & (df.HOUR > 12), 'FRIDAY_AFTERNOON'] =1

In [538]:
#Delete weekends
df.drop(df.index[df['WEEK_DAY']==5], inplace=True)
df.drop(df.index[df['WEEK_DAY']==6], inplace=True)

In [539]:
#Delete aftermarket hours
df.drop(df.index[df['HOUR' ]==17], inplace=True)
df.drop(df.index[(df['HOUR']==16) & (df['MINUTE']==15)], inplace=True)
df.drop(df.index[(df['HOUR']==16) & (df['MINUTE']==30)], inplace=True)
df.drop(df.index[(df['HOUR']==16) & (df['MINUTE']==45)], inplace=True)
df.drop(df.index[(df['HOUR']==9 ) & (df['MINUTE']==0)] , inplace=True)
df.drop(df.index[(df['HOUR']==9 ) & (df['MINUTE']==15)], inplace=True)

In [540]:
# Delete holiday days
df.drop(df.index[df['HOLIDAY']==1], inplace=True)
df.drop(columns=['HOLIDAY'], inplace=True)

In [541]:
# Drop DATE feature
df.drop(columns=['DATE'], inplace=True)

In [542]:
index = ['DATETIME', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE', 'WEEK_DAY', 'MONDAY_MORNING',	'FRIDAY_AFTERNOON', 'PREHOLIDAY_AFTERNON', 'POSTHOLIDAY_MORNING',	'FVX_PRICE',	
         'TVX_PRICE',	'DOW_PRICE',	'NASX_PRICE',	'INX_PRICE',	'FB_PRICE',	'GOOG_PRICE',	'DIS_PRICE', 'TSLA_PRICE']
df = df.reindex(columns = index)
df.sort_values(by = 'DATETIME', ascending = True, inplace = True)
#df = df.reset_index(drop=True)
df = df.set_index('DATETIME')

In [543]:
df.head(10)

,YEAR,MONTH,DAY,HOUR,MINUTE,WEEK_DAY,MONDAY_MORNING,FRIDAY_AFTERNOON,PREHOLIDAY_AFTERNON,POSTHOLIDAY_MORNING,FVX_PRICE,TVX_PRICE,DOW_PRICE,NASX_PRICE,INX_PRICE,FB_PRICE,GOOG_PRICE,DIS_PRICE,TSLA_PRICE
DATETIME,,,,,,,,,,,,,,,,,,,
2020-06-01 09:30:00,2020,6,1,9,30,0,1,0,0,0,0.31,0.67,25313.63,9505.40,3042.51,227.3900,1435.0400,118.0525,173.6571
2020-06-01 09:45:00,2020,6,1,9,45,0,1,0,0,0,0.31,0.67,25365.99,9502.91,3041.97,228.7988,1431.8100,118.1700,174.9291
2020-06-01 10:00:00,2020,6,1,10,0,0,1,0,0,0,0.31,0.67,25421.55,9521.96,3048.15,228.7500,1436.2700,118.3800,175.5382
2020-06-01 10:15:00,2020,6,1,10,15,0,1,0,0,0,0.32,0.68,25436.04,9526.87,3050.03,228.7101,1434.0500,118.4800,175.4510
2020-06-01 10:30:00,2020,6,1,10,30,0,1,0,0,0,0.31,0.68,25473.21,9535.28,3052.49,228.8700,1431.1245,119.0600,176.6000
2020-06-01 10:45:00,2020,6,1,10,45,0,1,0,0,0,0.31,0.68,25440.58,9532.38,3050.69,229.0210,1431.2500,119.5260,176.7480
2020-06-01 11:00:00,2020,6,1,11,0,0,1,0,0,0,0.31,0.68,25408.86,9521.55,3047.05,228.6367,1430.5999,119.2600,176.5600
2020-06-01 11:15:00,2020,6,1,11,15,0,1,0,0,0,0.31,0.68,25393.88,9512.11,3045.30,228.6000,1428.6250,118.6950,175.4740
2020-06-01 11:30:00,2020,6,1,11,30,0,1,0,0,0,0.31,0.67,25429.82,9528.04,3049.71,228.5491,1431.7900,118.5900,175.4000
2020-06-01 11:45:00,2020,6,1,11,45,0,1,0,0,0,0.30,0.67,25437.53,9529.09,3050.19,228.7400,1429.4625,118.5800,176.0760

# 4. DATA PREPARATION

In [544]:
YEAR = pd.get_dummies(df.YEAR, prefix = 'YEAR', prefix_sep = '_')
MONTH = pd.get_dummies(df.MONTH, prefix = 'MONTH', prefix_sep = '_')
DAY = pd.get_dummies(df.DAY, prefix = 'DAY', prefix_sep = '_')
HOUR = pd.get_dummies(df.HOUR, prefix = 'HOUR', prefix_sep = '_')
MIN = pd.get_dummies(df.MINUTE, prefix = 'MIN', prefix_sep = '_')
WEEK_DAY = pd.get_dummies(df.WEEK_DAY, prefix = 'WEEK_DAY', prefix_sep = '_')

In [545]:
df.drop(['YEAR','MONTH','DAY','HOUR','MINUTE', 'WEEK_DAY'],axis=1,inplace=True)
df = pd.concat([df,YEAR, MONTH, WEEK_DAY, DAY, HOUR, MIN],axis=1)

In [546]:
index = ['YEAR_2020',	'YEAR_2021',	'YEAR_2022',
         'MONTH_1'  ,	'MONTH_2' ,	'MONTH_3' ,	'MONTH_4',	'MONTH_5',	'MONTH_6',	'MONTH_7',	'MONTH_8',	'MONTH_9',	'MONTH_10',	'MONTH_11',	'MONTH_12',
         'WEEK_DAY_0',	'WEEK_DAY_1',	'WEEK_DAY_2',	'WEEK_DAY_3',	'WEEK_DAY_4',
         'DAY_1',	'DAY_2',	'DAY_3',	'DAY_4',	'DAY_5',	'DAY_6',	'DAY_7',	'DAY_8',	'DAY_9',	'DAY_10',	'DAY_11',	'DAY_12',	'DAY_13',	'DAY_14',	'DAY_15',
         'DAY_16',	'DAY_17',	'DAY_18',	'DAY_19',	'DAY_20',	'DAY_21',	'DAY_22',	'DAY_23',	'DAY_24',	'DAY_25',	'DAY_26',	'DAY_27',	'DAY_28',	'DAY_29',	'DAY_30',	'DAY_31',
         'HOUR_9',	'HOUR_10',	'HOUR_11',	'HOUR_12',	'HOUR_13',	'HOUR_14',	'MIN_0',	'MIN_15',	'MIN_30',	'MIN_45', 
         'MONDAY_MORNING',	'FRIDAY_AFTERNOON',	'PREHOLIDAY_AFTERNON',	'POSTHOLIDAY_MORNING',
         'FVX_PRICE',	'TVX_PRICE',	'DOW_PRICE',	'NASX_PRICE',	'INX_PRICE',	'FB_PRICE',	'GOOG_PRICE',	'DIS_PRICE',	'TSLA_PRICE']
df = df.reindex(columns = index)

In [547]:
df.head()

,YEAR_2020,YEAR_2021,YEAR_2022,MONTH_1,MONTH_2,MONTH_3,MONTH_4,MONTH_5,MONTH_6,MONTH_7,MONTH_8,MONTH_9,MONTH_10,MONTH_11,MONTH_12,WEEK_DAY_0,WEEK_DAY_1,WEEK_DAY_2,WEEK_DAY_3,WEEK_DAY_4,DAY_1,DAY_2,DAY_3,DAY_4,DAY_5,DAY_6,DAY_7,DAY_8,DAY_9,DAY_10,DAY_11,DAY_12,DAY_13,DAY_14,DAY_15,DAY_16,DAY_17,DAY_18,DAY_19,DAY_20,DAY_21,DAY_22,DAY_23,DAY_24,DAY_25,DAY_26,DAY_27,DAY_28,DAY_29,DAY_30,DAY_31,HOUR_9,HOUR_10,HOUR_11,HOUR_12,HOUR_13,HOUR_14,MIN_0,MIN_15,MIN_30,MIN_45,MONDAY_MORNING,FRIDAY_AFTERNOON,PREHOLIDAY_AFTERNON,POSTHOLIDAY_MORNING,FVX_PRICE,TVX_PRICE,DOW_PRICE,NASX_PRICE,INX_PRICE,FB_PRICE,GOOG_PRICE,DIS_PRICE,TSLA_PRICE
DATETIME,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2020-06-01 09:30:00,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0.31,0.67,25313.63,9505.40,3042.51,227.3900,1435.0400,118.0525,173.6571
2020-06-01 09:45:00,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0.31,0.67,25365.99,9502.91,3041.97,228.7988,1431.8100,118.1700,174.9291
2020-06-01 10:00:00,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0.31,0.67,25421.55,9521.96,3048.15,228.7500,1436.2700,118.3800,175.5382
2020-06-01 10:15:00,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0.32,0.68,25436.04,9526.87,3050.03,228.7101,1434.0500,118.4800,175.4510
2020-06-01 10:30:00,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0.31,0.68,25473.21,9535.28,3052.49,228.8700,1431.1245,119.0600,176.6000

# 4. WRITE DATASET

In [548]:
#Writting files
path = '/content/drive/MyDrive/CapstoneProject/code/01. Cleaning/data/'
df.to_csv(path+'df.csv', index=True)